* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 800px;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin-bottom: 15px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
}

.img-hidden {
    display: none;
  }